 <!-- Scrolling Car Brands -->
 <section class="py-16 bg-white">
 <div class="container mx-auto text-center">
    <h2 class="text-blue-900 text-center text-3xl font-extrabold mb-10">Pick Your Car Brand for the Weekend</h2>
    <div 
      class="flex space-x-8 w-[200%] mt-2"
    >
       <!-- Duplicate Set for Infinite Scroll -->
       <div class="flex space-x-8">
        <img src="assets/brands/mahindra.png" class="h-12" alt="Mahindra">
        <img src="assets/brands/audi.png" class="h-12" alt="Audi">
        <img src="assets/brands/jaguar.png" class="h-12" alt="Jaguar">
        <img src="assets/brands/bmw.png" class="h-12" alt="BMW">
        <img src="assets/brands/wolk.png" class="h-12" alt="Wolk">
        <img src="assets/brands/mercedes.png" class="h-12" alt="Mercedes">
        <img src="assets/brands/infiniti.png" class="h-12" alt="Infiniti">
        <img src="assets/brands/hyundai.png" class="h-12" alt="Hyundai">
        <img src="assets/brands/honda.png" class="h-12" alt="Honda">
        <img src="assets/brands/mazda.png" class="h-12" alt="Mazda">
        <img src="assets/brands/nissan.png" class="h-12" alt="Nissan">
        <img src="assets/brands/toyota.png" class="h-12" alt="Toyota">
        <img src="assets/brands/suzuki.png" class="h-12" alt="Suzuki">
        <img src="assets/brands/suzuki.png" class="h-12" alt="Suzuki">
      </div>
    </div>
  </div>
  </section>
  